.board_wrap {
    width: 1000px;
    margin: 100px auto;
}
.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}





.board_list {
    width: 100%;
    border-top: 1px solid #000000;
}

.board_list > div {
    border-bottom: 2px solid #dddddd;
    font-size: 0;
}

.board_list > div > div {
    /*가로배치*/
    display: inline-block;
    /*모든 픽셀 여백*/
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
    width: 10%;
}

.board_list > div > div.movieNm {
    width: 30%;
    text-align: left;
}
